{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}

<style>
  :root {
    --primary_color: #700c21;
    --secondary_color: #1563a2;
  }

  .gallary_images {
    height: 200px;
    width: 100%;
    border-radius: 12px;
    object-fit: contain;
  }

  .main_image {
    height: 500px;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
  }

  .description_icon {
    font-size: 22px;
    margin-right: 15px;
    color: var(--secondary_color);
  }

  .size_btn {
    margin-right: 10px;
  }

  .quantity_icon {
    font-size: 25px;
  }

  .cart_btn {
    background-color: var(--primary_color);
    width: 100%;
    color: white;
  }

  .buy_btn {
    background-color: var(--secondary_color);
    width: 100%;
    color: white;
  }

  .item_style {
    font-weight: 500;
    font-size: 14px;
    color: var(--primary_color);
  }

  .product_name {
    color: var(--primary_color);
    font-weight: 700;
  }
</style>

<div class="container mt-5">
  <i
    class="bi bi-arrow-left-square-fill back_arrow"
    onclick="history.back()"
  ></i>
</div>

<div class="container mt-5">
  <h1 class="product_name">{{product.title}}</h1>

  <div class="row mt-5">
    <div class="col-4">
      {% if product.image1 %}
      <div class="mb-3">
        <img src="{{product.image1.url}}" alt="" class="gallary_images" />
      </div>
      {% endif %}
      <!-- divider  -->
      {% if product.imag2 %}
      <div class="mb-3">
        <img src="{{product.imag2.url}}" alt="" class="gallary_images" />
      </div>
      {% endif %}
      <!-- divider  -->
      {% if product.image3 %}
      <div class="mb-3">
        <img src="{{product.image3.url}}" alt="" class="gallary_images" />
      </div>
      {% endif %}
    </div>
    <div class="col">
      <img src="{{product.main_image.url}}" alt="" class="main_image" />
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-md-6 mb-5">
      <p>{{product.detailed_description|safe}}</p>
      <!-- end item  -->
    </div>
    <div class="col-12 col-md-6 mb-5">
      <h4 class="mb-3">Product Sizes</h4>
      <div class="row mb-4">
        <div class="col">
          {% for data in productSizes%}
          <button type="button" class="btn btn-outline-dark size_btn mb-3">
            {{data}}
          </button>
          {% endfor %}
        </div>
      </div>
      <h4 class="mb-3">Price</h4>
      <h2>R {{product.price}} <span class="item_style">per item</span></h2>
      <h4 class="mb-3 mt-3">Quantity</h4>
      <div class="d-flex align-items-center">
        <i class="bi bi-dash-square-fill quantity_icon"></i>
        <div class="mx-3">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <i class="bi bi-plus-square-fill quantity_icon"></i>
      </div>
      <button class="btn cart_btn mt-5 py-3">Request Quote</button>
    </div>
  </div>
</div>

<div style="height: 200px; width: 100%"></div>

<!-- divider  -->
{% endblock %}
