<style>
  :root {
    --primary_color: #700c21;
    --secondary_color: #1563a2;
  }

  .container_padding {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  .contact_icon {
    font-size: 50px;
    color: var(--primary_color);
  }
</style>

<div class="container_padding container mt-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <center>
        <i class="bi bi-geo-alt-fill contact_icon"></i>
        <h4 class="my-3 fw-bold">Location</h4>
        <p>02 magnet road Knights, Germiston, 1401, Gauteng</p>
        <p>479 Delmore, Germiston, Johannesburg, 1401</p>
      </center>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <center>
        <i class="bi bi-headset contact_icon"></i>
        <h4 class="my-3 fw-bold">Phone</h4>
        <p>0695475221 / 0113833880</p>
      </center>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <center>
        <i class="bi bi-envelope-paper-fill contact_icon"></i>
        <h4 class="my-3 fw-bold">Email</h4>
        <p>info@iztrading.co.za</p>
      </center>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <center>
        <i class="bi bi-alarm-fill contact_icon"></i>
        <h4 class="my-3 fw-bold">Working Hours</h4>
        <p class="mb-1">Mon-Tru: 08:00 am to 16:30 pm</p>
        <p class="mb-1">Fri: 08:00 am to 15:30 pm</p>
        <p>Sat-Sun: Closed</p>
      </center>
    </div>
  </div>
</div>
